
.card{
	width: 150px;
	height: 150px;
	border: solid;
	display: inline-block;
	text-align: center;
}

.value{
	display: inline-block;
}

#start {
	width: 100px;
	height: 100px;
	background-color: red;
}

#cardContainer{
	color: red;
}

#computer1cardContainer{
	color: blue;
}

#computer2cardContainer{
	color: green;
}


#dice {
	width: 100px;
	height: 100px;
	border: solid;
}