

.card{
	width: 150px;
	height: 150px;
	color: red;
	border: solid;
	display: inline-block;
	text-align: center;
}

.value{
	display: inline-block;
}

#start {
	width: 100px;
	height: 100px;
	background-color: red;
}

