.card{
	width: 100px;
	height: 100px;
	border: solid;
	display: inline-block;
	text-align: center;
}

.value{
	display: inline-block;
}


#Kitchenvalue {
	width: 100px;
	height: 100px;
	background-image: url('../images/kitchensega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#Ballroomvalue {
	width: 100px;
	height: 100px;
	background-image: url('../images/ballroomsega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#Studyvalue {
	width: 100px;
	height: 100px;
	background-image: url('../images/studysega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#BillardRoomvalue {
	width: 100px;
	height: 100px;
	background-image: url('../images/billardsega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#Libraryvalue {
	width: 100px;
	height: 100px;
	background-image: url('../images/librarysega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}


#Hallvalue {
	width: 100px;
	height: 100px;
	background-image: url('../images/hallsega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#DiningRoomvalue{
	width: 100px;
	height: 100px;
	background-image: url('../images/diningsega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#Conservatoryvalue{
	width: 100px;
	height: 100px;
	background-image: url('../images/conservatorysega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}

#Loungevalue{
	width: 100px;
	height: 100px;
	background-image: url('../images/loungesega.jpeg');
	background-size:100% 100%;
	background-image: no-repeat;
}


#Candlestickvalue{
width: 100px;
height: 100px;
background-image: url('../images/candlesticksega.png');
background-size:100% 100%;
background-image: no-repeat;
}

#Knifevalue{
width: 100px;
height: 100px;
background-image: url('../images/knifesega.png');
background-size: 100% 100%;
background-image: no-repeat;

}


#LeadPipevalue{
width: 100px;
height: 100px;
background-image: url('../images/leadpipesega.png');
background-size:100% 100%;
background-image: no-repeat;
}


#Revolvervalue{
width: 100px;
height: 100px;
background-image: url('../images/revolversega.png');
background-size:100% 100%;
background-image: no-repeat;

}

#Ropevalue{
width: 100px;
height: 100px;
background-image: url('../images/ropesega.png');
background-size:100% 100%;
background-image: no-repeat;
}

#Wrenchvalue{
width: 100px;
height: 100px;
background-image: url('../images/wrenchsega.png');
background-size:100% 100%;
background-image: no-repeat;
}

#MrGreenvalue{
width: 100px;
height: 100px;
background-image: url('../images/greensega.jpeg');
background-size:100% 100%;
background-image: no-repeat;
}

#ColonelMustardvalue{
width: 100px;
height: 100px;
background-image: url('../images/mustardsega.jpeg');
background-size:100% 100%;
background-image: no-repeat;
}

#MrsPeacockvalue{
width: 100px;
height: 100px;
background-image: url('../images/peacocksega.jpeg');
background-size:100% 100%;
background-image: no-repeat;
}

#ProfessorPlumvalue{
width: 100px;
height: 100px;
background-image: url('../images/plumsega.jpeg');
background-size:100% 100%;
background-image: no-repeat;
}

#MissScarletvalue{
width: 100px;
height: 100px;
background-image: url('../images/scarletsega.jpeg');
background-size:100% 100%;
background-image: no-repeat;
}

#MrsWhitevalue{
width: 100px;
height: 100px;
background-image: url('../images/whitesega.jpeg');
background-size:100% 100%;
background-image: no-repeat;
}

