#introbody{
	background-color: black;
}

#header{
width: 550px;
height: 250px;	
border: solid 20px red;
background-color: green;
color: white;
position: relative;
top: 100px;
text-align: center;
font-size: 110px;
padding: 30px;
}



#introbox{
	color: red;
	font-size: 40px;
	position: relative;
	top: 100px;
	text-align: center;
	width: 100%
}


#begin{
	color: white;
	font-size: 40px;
	position: relative;
	top: 100px;
	text-align: center;
	width: 100%;
	margin: 10px;
}

a {
	text-decoration: none;
	color: white;

}
a:hover { 
    color: green;
    text-decoration: none;

}
