#story1 {
	font-size: 25px;
	color: white;
	text-align: center;
}

#charimages{
	display: none;
}

#story2 {
	font-size: 25px;
	color: white;
	display: none;
	text-align: center;
}

#story3 {
	font-size: 50px;
	color: red;
	display: none;
	text-align: center;
}

#story4 {
	font-size: 25px;
	color: white;
	display: none;
	text-align: center;
}

